[submodule "libs/CodexBar"]
	path = libs/CodexBar
	url = https://github.com/steipete/CodexBar.git

[submodule "libs/SKProcessRunner"]
	path = libs/SKProcessRunner
	url = https://github.com/linhay/SKProcessRunner.git

[submodule "libs/SKIntelligence"]
	path = libs/SKIntelligence
	url = https://github.com/linhay/SKIntelligence.git

[submodule "libs/STFilePath"]
	path = libs/STFilePath
	url = https://github.com/linhay/STFilePath.git

[submodule "libs/STJSON"]
	path = libs/STJSON
	url = https://github.com/linhay/STJSON.git

[submodule "libs/agent-skills"]
	path = libs/agent-skills
	url = https://github.com/vercel-labs/agent-skills.git

[submodule "libs/codex"]
	path = libs/codex
	url = https://github.com/openai/codex.git

[submodule "libs/opencode"]
	path = libs/opencode
	url = https://github.com/anomalyco/opencode.git

[submodule "libs/oh-my-opencode"]
	path = libs/oh-my-opencode
	url = https://github.com/code-yeongyu/oh-my-opencode.git
